*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html{
    font-size:34px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./src/newbackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    width:100vw;
    height:100vh;

}
body{
    counter-reset: my-counter 2;
}
img{
    width:130px;
    height:130px;
    border-radius: 50%;
    margin-top:20px;
    margin-left:30px;
    float:left;
    filter:brightness(120%);

}

.myheading{
    color:rgb(0, 175, 175);
    font-size:38px;
    text-shadow: 1px 1px 0px rgb(0, 175, 175),1px 1px 0px rgb(0, 175, 175),2px 2px 0px rgb(0, 175, 175);
    float:left;
    margin-top:59px;
    
}
.anchors{
    margin-left:18rem;
}

.anchors a{
    font-size:24px;
    color:rgb(94, 106, 207);
    border:1px solid gold;
    background-color:transparent;
    border-radius:10px;
    text-decoration: none;
    margin-left:20px;
    padding:10px;
    text-shadow: 1px 1px 0px wheat,2px 2px 0px wheat,1px 1px 0px wheat;
    font-family:serif;    

}
 a:hover{
    background-color:black;
    color:white;
    border:2px solid gold;
    box-shadow: 1px 1px 0px black,2px 2px 0px black,1px 1px 0px black,2px 2px 0px black;   
}


/* image and anchors css here */

.image-anchors{
    float:left;
}
.second-image{
    border:3px solid rgb(48, 162, 228);
    position:relative;
    box-shadow: 2px 2px 0px rgb(48, 162, 228),1px 1px 0px rgb(48, 162, 228),2px 2px 0px rgb(48, 162, 228);
    float:left;
}
.newanchor{
    position:absolute;
    border:3px solid white;
    padding:10px;
    font-size:23px;
    color:white;
    border-radius:20px;
    text-decoration:none;
    margin-top:20px;
    box-shadow: 2px 2px 0px white,1px 1px 0px white,2px 2px 0px white,1px 1px 0px white;   
    
}
input[placeholder="enter your </code>"]{
    text-align: center;
    background-color:silver;
}
.newanchor2{
    position:absolute;
    border:3px solid white;
    padding:10px;
    font-size:23px;
    color:white;
    border-radius:20px;
    text-decoration:none;
    margin-top:20px;
    box-shadow: 2px 2px 0px white,1px 1px 0px white,2px 2px 0px white,1px 1px 0px white;
    
}
input[placeholder="thats your result"]{
    text-align: center;
    background-color:silver;
}
.code-class{
       margin-left:7rem;
       margin-top:0.7rem;
       height:1.3rem;
       width:7rem;
       border:2px solid black;
       border-radius:10px;
}
.output-class{
    margin-left:7rem;
    margin-top:0.7rem;
    height:1.3rem;
    width:7rem;
    border:2px solid black;
    border-radius:10px;
}
.first-paragraph{
    width:12rem;
    font-size:40px;
    font-family: cursive;
    text-align: center;
    border:1px solid white;
    box-shadow: 0px 0px 10px black,1px 1px 5px white;
    box-shadow: inset 2px 2px 9px black,2px 2px 9px white;
    margin-left:3rem;
    margin-top:1.8rem;
        
}



/* input feilds css start here */
.input-feilds{
    border:4px solid black;
    background-image: linear-gradient(rgb(54, 21, 58),silver);
    border-radius: 1rem;
    width:14rem;
    height:19rem;
    padding:1.5rem;
    box-sizing: border-box;
    float:left;
    margin-left:100px;
    margin-top:0px;
}
.input-feilds input{
    margin-left:20px;
    width:5.5rem;
    height:1rem;
    text-align: center;
    border:3px solid rebeccapurple;
    border-radius: 8px;
    
}
label{
    font-size:24px;
    font-family: Georgia, serif;
    color:rgb(28, 36, 48);
}
input[type="submit"]{
      margin-left:80px;
      font-family: Fantasy	;

}
input::placeholder{
    font-family: Fantasy	;
    
}
select{
    font-family: Fantasy;
    text-align: center;
    height:40px;
    width:130px;
    border-radius: 1rem;
}
.textarea-button{
    clear:both;
    margin-left:3rem;
    /* margin-bottom:10rem; */
}
.textarea{
    width:8rem;
    height:4rem;
    border-radius: 1rem;
    text-align: center;
    font-family:  Fantasy;
 }
 .button{
     border-radius: 4px;
     text-align: center;
     font-family:  Fantasy;
    margin-left:2.6rem;
     height:1rem;
     width:3rem;
 }
 .ppp{
     height:14rem;
     width:19rem;
     color:white;
     border:3px solid rgb(197, 179, 179);
     overflow: auto;
     clear: both;
     margin-left:3rem;
     background-color: teal;
 }
 .ppp::-webkit-scrollbar{
     width:1.2rem;
     
 }
.ppp::-webkit-scrollbar-thumb{
     background-image: linear-gradient(yellow,green,violet);
     border:1px solid black;
     box-shadow: 0px 0px 10px black;
     border-radius: 1rem;

}
 .ppp::-webkit-scrollbar-track{
     background-image:linear-gradient(silver,pink,red);
     border:1px solid black;
     padding:1rem;
     border-radius:2rem;
 }

.ppp::-webkit-scrollbar-corner{
    background-color: turquoise;
}

.cantainor{
    border:1px solid red;
    background-color:green;
    width:600px;
    height:auto;
    margin-left:30px;
    margin-top:30px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr minmax(150px);
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    box-sizing:border-box;
    grid-gap:20px 30px;
    
}
.child1{
    background-color:greenyellow;
    text-align:center;
    line-height: 140px;
    grid-row-start:2;
    grid-row-end:3;
    grid-column-start:3;
    grid-column-end:3;
    z-index:1;
}
.child2{
    background-color:hotpink;
    text-align:center;
    line-height: 140px;
    grid-column:1/3;
    grid-row:1/2;
}
.child3{
    background-color:indigo;
    text-align:center;
    line-height: 140px;
    grid-column:3/3;
    grid-row:1/3;
}
.child4{
    background-color:lawngreen;
    text-align:center;
    line-height: 140px;
}
.child5{
    background-color:lightseagreen;
    text-align:center;
    line-height: 140px;
}
.child6{
    background-color:maroon;
    text-align:center;
    line-height: 140px;
    grid-column:1/4;
    grid-row:4/6;
}
.counter li{
    font-size:34px;
    margin-left:6rem;
}
.counter li::before{
    content:"chapter" counter(my-counter)";";
    counter-increment: 4;
    color:red;
    
}



/* dummy layout ciding start here */
.dummy-layout{
    width:23rem;
    height: 13rem;
    border:1px solid black;
    background-color:coral;
    margin-left:100px;
    display:grid;
    grid-template-columns: repeat(3,[col-start] 1fr[col-end]);
    grid-template-rows:[header-start] 60px [header-end menu-start]60px[menu-end content-start] 240px[content-end footer-start] 70px[footer-end];
    grid-gap:5px 5px;
}
.header{
    background-color:red;
    grid-column:col-start 1/col-end 4;
    grid-row:header-start/header-end;
}
.menu{
    background-color:green;
    grid-column:col-start 1/col-end 4;
    grid-row:menu-start/menu-end;
}
.content{
    background-color:violet;
    grid-column:col-start 1/col-end3;
    grid-row:content-start/content-end;
}
.sidebar{
    background-color:blue;
    grid-column:col-start 3/col-end 4;
    grid-row:content-start/content-end;
}
.footer{
    background-color:crimson;
    grid-column:col-start 1/col-end 4;
    grid-row:footer-start/footer-end;
}

/* dummy layout2 coding start here */
.dummy-layout2{
    background-color:pink;
    display:grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: 1fr 1fr;

    
}
.dummy-first{
    background-color:crimson;
}
.dummy-second{
    background-color:rgb(71, 120, 184);
}
.dummy-third{
    background-color:rgb(209, 87, 189);
}
.dummy-forth{
    background-color:rgb(90, 207, 172);
}
.dummy-fifth{
    background-color:rgb(112, 66, 150);
}
.dummy-sixth{
    background-color:rgb(148, 194, 62);
}